:root {
  --salmon: salmon;
  --carne: #f3eebfe3;
  --blanco: white;
  --car: {
    color: red;
    background-color: blue;
  }
}

body {
  /*font-family: "Shadows Into Light", cursive;*/
  /* font-family: "BenchNine", sans-serif;*/
  margin: 0;

  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.m-t {
  margin-top: 100px;
}

.header {
  position: absolute;
  border-bottom: 1px solid var(--salmon);
  left: 0;
  right: 0;
}

.header .row {
  align-items: center;
  justify-content: space-between;
}

.header .personal__brand {
  background-color: var(--salmon);
  text-align: center;
  width: 20%;
}

.header .personal__brand a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: var(--carne);
  text-transform: uppercase;
}

.header .navbar {
  width: 80%;
}
.header .navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.header .navbar ul li a {
  font-size: 16px;
  text-decoration: none;
  line-height: 70px;
  color: var(--blanco);
  font-weight: 600;
  text-align: center;
  margin-right: 20px;
  position: relative;
  display: block;
}

.header .navbar a::before {
  content: "";
  height: 3px;
  background-color: var(--salmon);
  width: 0%;
  position: absolute;
  bottom: 1px;
  right: 0;
  transition: all 0.5s ease;
}

.header .navbar a:hover::before {
  width: 100%;
  left: 0;
}

.header .navbar .active::before {
  width: 100%;
  left: 0;
}
.hero {
  min-height: 100vh;
  background-image: url("../img/digitalart-1589928781790-4994.jpg");
  background-position: center;
  background-size: cover;
}

.hero .xelf {
  min-height: 100vh;
}
.hero .content__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
}

.hero .content__block .content__text {
  border-left: 4px solid var(--salmon);
  padding-left: 10px;
  flex: 0 0 0 75%;
}

.content__text h1 {
  color: var(--blanco);
  font-size: 3em;
  font-weight: 600;
}
.content__text h3 {
  color: var(--blanco);
  font-size: 2em;
  font-weight: 200;
}

.content__block .botton a {
  text-decoration: none;
  border-radius: 0.3em;
  color: white;
  border: 1px solid white;
  padding: 0.3em 0.5em;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  transition: all 0.5s ease;
  background-color: transparent;
}
.content__block .botton a:hover {
  background-color: white;
  color: var(--salmon);
}

.about {
  padding: 100px 30px;
  background-color: white;
}
.about .about__titulo {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about__titulo h2 {
  display: inline-block;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 10px;
  color: black;
  position: relative;
}
.about .about__titulo h2::before {
  content: "";
  left: 0;
  right: 20%;
  position: absolute;
  height: 2px;
  background-color: var(--salmon);
  bottom: 0;
}
.about .about__titulo .small {
  color: #838383;
  display: block;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.about .about__content {
  display: flex;
}
.about .about__image {
  flex: 0 0 33.433%;
  max-width: 33.33%;
}
.about .about__image img {
  width: 100%;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.about .about__text {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  margin-left: 30px;
}
.about .about__text h4 {
  font-size: 2em;
  font-weight: 500;
  margin: 0 0 5px;
  color: #000000;
}

.about .about__text h6 {
  font-size: 1.4em;
  font-weight: 400;
  margin: 0 0 15px;
  color: #000000;
}

.about .about__text span {
  color: salmon;
}

.about .about__text .about__inf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__text .about__inf .item {
  margin-top: 10px;
  flex: 0 0 calc(50% -15px);
  max-width: calc(50% -15px);
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid salmon;
  padding-bottom: 10px;
}
.about__text .about__inf .item label {
  margin-right: 5px;
  font-size: 1em;
  font-weight: 600;
  color: #000000;
}

.about p {
  color: #838383;
}

.about__social {
  margin-top: 20px;
  text-align: center;
}
.about__social ul {
  list-style: none;
  margin-top: 10;
}
.about__social ul li {
  display: inline-block;
  margin-right: 10px;
  height: 32px;
  width: 32px;
  background-color: black;
  border-radius: 2px;
}
.about__social ul li a {
  text-decoration: none;
  color: white;
}
